.spades::before, 
.clubs::before, 
.hearts::before, 
.diamonds::before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 0px;
}
.spades::before {
    content: "\2660";
}
.clubs::before {
    content: "\2663";
}
.hearts::before {
    content: "\2665";
    color: red;
}
.diamonds::before {
    content: "\2666";
    color: red;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 5px;
    position: relative; 
    padding-left: 20px;
}
li:hover::before {
    opacity: 1; 
}

